Viewer/Service References/ServiceReference/Cube21Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zamboch.Cube21.Actions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zamboch.Cube21.Actions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSmartStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SmartStep" nillable="true" type="tns:SmartStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSmartStep" nillable="true" type="tns:ArrayOfSmartStep" />
  <xs:complexType name="SmartStep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correction" nillable="true" type="tns:Correction" />
      <xs:element minOccurs="0" name="Step" nillable="true" type="tns:Step" />
      <xs:element minOccurs="0" name="TargetShapeIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartStep" nillable="true" type="tns:SmartStep" />
  <xs:complexType name="Correction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Action">
        <xs:sequence>
          <xs:element minOccurs="0" name="Flip" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Correction" nillable="true" type="tns:Correction" />
  <xs:complexType name="Action">
    <xs:sequence>
      <xs:element minOccurs="0" name="BotShift" type="xs:int" />
      <xs:element minOccurs="0" name="TopShift" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Action" nillable="true" type="tns:Action" />
  <xs:complexType name="Step">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Action">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
</xs:schema>