trunk/Viewer/Service References/ServiceReference/Cube21Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52390/Cube21Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Zamboch.Cube21" />
  <xs:import schemaLocation="http://localhost:52390/Cube21Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zamboch.Cube21.Actions" />
  <xs:element name="FindWayHome">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zamboch.Cube21" minOccurs="0" name="cube" nillable="true" type="q1:Cube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWayHomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Zamboch.Cube21.Actions" minOccurs="0" name="FindWayHomeResult" nillable="true" type="q2:ArrayOfSmartStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>